#main-header,
#about,
#skills,
footer {
    background-color: #bbb;
}

#intro,
#projects,
#contact {
    background-color: #ddd;
}

#main-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobile-nav-button:hover {
    cursor: pointer;
}

nav>ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    /* color: inherit; */
}

#main-header,
section,
footer {
    padding: 1rem;
}

td {
    vertical-align: top;
}

tr+tr>td {
    padding-top: 1rem;
}

td:nth-of-type(odd) {
    padding-right: 1rem;
}

.display-none {
    display: none;
}

/* older styles below */

/* 
html {
    scroll-behavior: smooth;
}

nav>ul {
    display: flex;
    padding: 0%;
    align-items: center;
}

section,
#mean-header,
#menu-icon,
#cancel-icon,
#logo,
footer {
    padding: 1rem;
}

#mobile-nav>ul {
    justify-content: space-between;
}

#desktop-nav>ul {
    justify-content: space-around;
}

ul {
    margin: 0;
    padding: 1rem;
}

li {
    padding-block: .5rem;
}

#desktop-nav>ul>li {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

form>fieldset>div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;
    gap: .5rem;
}

#menu-icon:hover,
#cancel-icon:hover,
#logo:hover {
    cursor: pointer;
}
*/