html {
    scroll-behavior: smooth;
}

nav {
    background-color: cadetblue;
}

#works {
    background-color: antiquewhite;
}

#about {
    background-color: gainsboro;
}

#contact {
    background-color: cornsilk;

}

nav>ul {
    display: flex;
    padding: 0%;
    align-items: center;
}

section,
#menu-icon,
#cancel-icon,
#logo {
    padding: 1rem;
}

#mobile-nav>ul {
    justify-content: space-between;
}

#desktop-nav>ul {
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
    padding-block: .5rem;
}

#desktop-nav>ul>li {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

form>fieldset>div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;
    gap: .5rem;
}

.display-none {
    display: none;
}

#menu-icon:hover,
#cancel-icon:hover,
#logo:hover {
    cursor: pointer;
}