:root {
    --white: #fafcfd;
    --dark-blue: #28497b;

    --dark-gray: #363332;
    --light-blue: #b0d6ff;

    --blue: #477ea1;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Jost', sans-serif;
    font-size: calc(19px*2.618);
    font-weight: 700;
}

h2 {
    font-family: 'Jost', sans-serif;
    font-size: calc(19px*1.618);
    font-weight: 700;
    margin-bottom: .5rem;
}

section>header+* {
    margin-top: 0;
}

p,
li,
label,
legend,
a {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 19px;
    line-height: 1.5;
}

#main-header,
footer {
    background-color: var(--dark-gray);
    color: var(--white);
}

.odd-section {
    background-color: var(--white);
    color: var(--dark-blue);
}

.even-section {
    background-color: var(--light-blue);
    color: var(--dark-gray);
}

#main-header,
section,
footer {
    padding-inline: 1rem;
}

#main-header,
footer {
    padding-block: 1rem;
}

section {
    display: flow-root;
}

section>*:first-child {
    display: block;
    margin-top: 2rem;
}

section>*:last-child {
    display: block;
    margin-bottom: 2rem;
}

/* main header */

#main-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navigation */

#mobile-nav-button {
    border: none;
}

#mobile-nav-button,
#icon-menu,
#icon-cancel {
    background-color: var(--dark-gray);
}

#icon-menu,
#icon-cancel {
    color: var(--white);
    font-size: 1.5rem;
}

#mobile-nav-button:hover {
    cursor: pointer;
}

nav>ul {
    list-style-type: none;
    padding-left: 0;
}

#primary-nav-wrapper>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 0;
    margin-top: .5rem;
}

#primary-nav-wrapper>ul>li>a {
    display: block;
    line-height: 3rem;
    transition: .5s;
}

#primary-nav-wrapper>ul>li>a:hover {
    background-color: var(--white);
    color: var(--dark-gray);
}

a {
    text-decoration: none;
    color: inherit;
}

/* about section */

#photo-of-me {
    max-width: 100%;
}

/* contact form */

legend {
    font-size: small;
}

#form-fields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: .5rem;
}

.form-field>label {
    display: block;
}

.form-field>label+input,
.form-field>textarea {
    width: 98%;
}

.form-field>textarea {
    min-height: 5rem;
}

/* general */

.display-none {
    display: none;
}

/* other pages */

td {
    vertical-align: top;
}

tr+tr>td {
    padding-top: 1rem;
}

td:nth-of-type(odd) {
    padding-right: 1rem;
}

footer>nav>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

/* testing buttons */

.testing {
    background-color: var(--dark-gray);
    color: var(--white);
    width: fit-content;
    border-radius: 15px;
    transition: .5s;
}

.testing:hover {
    background-color: var(--blue);
}

.testing>a {
    display: block;
    padding: .5rem;
}