:root {
    --white: #fafcfd;
    --dark-blue: #28497b;

    --dark-gray: #363332;
    --light-blue: #b0d6ff;

    --blue: #92baea;
    --call-to-action-color: #6f2138;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
}

h1 {
    font-family: 'Jost', sans-serif;
    font-size: calc(19px*2.618);
    font-weight: 700;
}

h2 {
    font-family: 'Jost', sans-serif;
    font-size: calc(19px*1.618);
    font-weight: 700;
    margin-bottom: .5rem;
}

h3 {
    padding-top: .75rem;
}

h3+h3 {
    padding-top: 0;
}

section>div>header+* {
    margin-top: 0;
}

p,
li,
label,
legend,
a {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 19px;
    line-height: 1.5;
}

p {
    text-indent: 2.5rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

figure {
    margin-block: 0;
}

figcaption {
    text-align: center;
}

#main-header,
footer {
    background-color: var(--dark-gray);
    color: var(--white);
}

.odd-section {
    background-color: var(--white);
    color: var(--dark-blue);
}

.odd-section:nth-of-type(1n+2) {
    background-image: linear-gradient(to bottom, var(--light-blue), .5%, var(--white), 1%, var(--white));
}

.even-section {
    background-color: var(--light-blue);
    color: var(--dark-gray);
    background-image: linear-gradient(to bottom, var(--white), .5%, var(--light-blue), 1%, var(--light-blue));
}

#main-header,
section,
footer {
    padding-inline: 1rem;
}

#main-header,
footer {
    padding-block: 1rem;
    /* padding-block: 1.5rem; */
}

section {
    display: flow-root;
    scroll-margin-top: 3.75rem;
}

section>div>*:first-child {
    display: block;
    margin-top: 2rem;
}

section>div>*:last-child {
    display: block;
    margin-bottom: 2rem;
}

.section-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* main header */

#main-header {
    /* position: sticky;
    top: 0; */
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* width: 100%; */
    z-index: 1;
}

#main-header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header-bar>a {
    font-weight: bold;
}

#main-header-bar>a:hover {
    color: var(--light-blue);
}

/* navigation */

#mobile-nav-button {
    border: none;
    padding: 0;
}

#mobile-nav-button,
#icon-menu,
#icon-cancel {
    background-color: var(--dark-gray);
}

#icon-menu,
#icon-cancel {
    color: var(--white);
    font-size: 1.5rem;
}

#icon-menu:hover,
#icon-cancel:hover {
    color: var(--light-blue);
}

#mobile-nav-button:hover {
    cursor: pointer;
}

nav>ul {
    list-style-type: none;
    padding-left: 0;
}

#primary-navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 0;
    margin-top: .5rem;
}

.navigation-bar-link {
    display: block;
    /* line-height: 3rem; */
    line-height: 4rem;
    transition: .5s;
    font-weight: bold;
}

.navigation-bar-link:hover {
    background-color: var(--white);
    color: var(--dark-gray);
}

.navigation-bar-link:first-child {
    margin-top: .5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* hero section */

#hero {
    margin-top: 3rem;
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(to top, transparent, var(--white), 70%, var(--white)), url('../public/images/portfolio-hero-mobile-lumn-399160.jpg');
    text-align: center;
}

#hero-title {
    display: none;
}

#hero-header {
    margin-top: 5rem;
}

#hero-header>h2 {
    font-size: calc(19px*1.25);
}

#hero-cta {
    margin-top: 2.5rem;
    margin-bottom: 14rem;
}

#hero-cta>a {
    font-size: calc(19px*1.1);
}

/* about section */

#about {
    background-image: linear-gradient(to bottom, rgb(223, 223, 223), 1%, var(--light-blue));
}

/* contact form */

legend {
    font-size: small;
}

#form-fields-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-block: .5rem;
}

.form-field>label {
    display: block;
}

.form-field>label+input,
.form-field>textarea {
    width: 98%;
}

.form-field>textarea {
    min-height: 5rem;
}

/* general */

.display-none {
    display: none;
}

.two-item-flex-container {
    display: flex;
    justify-content: space-around;
}

/* other pages */

.subsection-heading {
    margin-top: 4rem;
    text-align: center;
    color: var(--dark-blue);
}

.first-subsection {
    margin-top: 7rem;
}

td {
    vertical-align: top;
}

tr+tr>td {
    padding-top: 1rem;
}

td:nth-of-type(odd) {
    padding-right: 1rem;
}

.link {
    text-decoration: underline;
    color: var(--dark-blue);
}

.link:hover {
    color: var(--blue);
}

#flashcard-image {
    width: 150px;
}

#database-image {
    border: 2px solid var(--light-blue);
}

#database-image:hover {
    filter: brightness(95%);
}

.memory-game-image {
    border: 2px solid var(--blue);
    border-radius: 5px;
    width: 200px;
}

footer>div>nav>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: bold;
    color: var(--light-blue);
}

footer>div>nav>ul>li:hover {
    color: var(--white);
}

footer>div>p {
    font-size: small;
}

.footer-text {
    text-indent: 0;
}

.skills-section+section>div>header {
    border-top: 1px solid var(--blue);
    padding-top: 2rem;
}

/* call-to-action buttons */

.cta-flex-container {
    display: flex;
    max-width: 300px;
    margin: auto;
}

.call-to-action {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--call-to-action-color);
    color: var(--white);
    width: fit-content;
    border-radius: 15px;
    transition: .5s;
    font-weight: bold;
}

.call-to-action:hover {
    background-color: var(--white);
    color: var(--call-to-action-color);
    box-shadow: inset 0 0 2px var(--call-to-action-color);
}

.call-to-action>a {
    display: block;
    padding: .5rem .75rem;
}

/* links */

.read-more {
    font-weight: bold;
    max-width: fit-content;
    display: block;
    margin-left: auto;
}

.read-more:hover {
    color: var(--call-to-action-color);
}

@media screen and (min-width: 640px) {
    #main-header>div {
        display: flex;
    }

    #mobile-nav-button {
        display: none;
    }

    #primary-nav-wrapper {
        display: block;
        width: 72%;
        margin-left: auto;
    }

    #primary-navigation {
        flex-direction: row;
        margin-top: 0;
        justify-content: space-between;
        width: 100%;
    }

    .navigation-bar-link:hover {
        background-color: unset;
        color: var(--light-blue);
    }

    #hero {
        filter: brightness(110%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        background-image: url('../public/images/portfolio-hero-desktop-lumn-399160.jpg');
    }

    #hero-header {
        margin-top: 6rem;
    }

    #hero-cta {
        margin-bottom: 13rem;
    }

    #about-preview-container {
        display: flex;
        gap: 1.5rem;
    }

    #photo-of-me-teaching {
        margin-bottom: 1rem;
        max-width: none;
    }

    .navigation-bar-link:first-child {
        margin-top: 0rem;
    }

    .subsection-heading {
        margin-top: 7rem;
    }
}