body {
  background-image: url('../images/pexels-raka-miftah-4253690.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#title {
  margin-top: 0%;
  padding-top: 3rem;
  text-align: center;
}

#title,
h2,
.value {
  color: white;
}

.hand {
  font-size: 2rem;
  background-color: rgb(0, 0, 0, 0);
  color: white;
}

#flex-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 1.5rem;
  background-color: rgb(0, 0, 0, .8);
}

.hand {
  display: flex;
}

#feedback {
  text-align: center;
}

button {
  font-size: larger;
  font-weight: bolder;
  padding: 0.2em;
}